.score-board{
    background:transparent;
    position:absolute;
    text-align:right;
    top:0px;right:0px;
    padding-top:20px;padding-right:20px;
    cursor:pointer;
}
.score{
    right:50px;
    position:absolute;
    color:white;
    width:150px;
    height:30px;
    font-size:20px;
}
.report{
    top:50%;
    border-radius:20px;
    position: absolute;
    transform: translate(-50%, -50%);
    left:50%;
    height:100px !important;
    width:200px !important;
    background-color:lightgrey;
}
.reportsm{
    text-align:left;
    right:0px !important;
    font-weight:bold;
    color:#333 !important;
}
