.score-board{
    background:transparent;
    position:absolute;
    text-align:right;
    top:0px;right:0px;
    padding-top:20px;padding-right:20px;
    cursor:pointer;
}
.score{
    right:50px;
    position:absolute;
    color:white;
    width:150px;
    height:30px;
    font-size:20px;
}
.report{
    top:30%;
    right:40%;
    background-color:lightgrey;
}
.report: div{
    position:relative;
}
