/*Utility Styling*/
*{
	font-family:'Raleway', serif;
	animation-delay:1.5s !important;
	transition:all 0.4s ease-out;
	font-weight: bold;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
}
body{overflow:hidden;}
canvas {display:block;margin-top:auto;margin-right:auto;margin-left:auto;margin-bottom:auto;}
.background{
	height:100vh;
	width:100vw;
	background:url('../img/background.jpg');
	background-size:cover;
}
.rainbow{
	background: -webkit-linear-gradient(180deg,#EE6352,#E7386F,orangered,gold,#59CD90,#5ADBFF);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}
/*Custom Styling*/

/*Responsive Design*/
@media screen and (max-width: 991px) {

}
@media screen and (max-width: 767px) {

}
